<div class="tasks-container">
  <div class="tasks-list-wrapper">
    <div class="tasks-header-container">
      <article class="tasks-header">

        <h3>Tasks list</h3>

        {{#link-to "about" class="menu-about"}}
          <label id="add-new-task" class="span-btn">
            <span class="circle-btn">+</span>
          </label>
        {{/link-to}}
      </article>
    </div>
    <div class="tasks-list-container">

      {{#each model as |task index|}}
        <article id="task_{{task.id}}" class="task-elem" data-content="{{task.content}}" data-uuid="task_{{task.uuid}}" >
          <input type="checkbox" class="task-status-chkbx toggle_{{task.status}}" checked="{{task.checked_flag}}" {{action "toggleStatus" task.uuid task.status }} >
          <label class="toggle_{{task.status}}">{{index}}. {{task.title}}</label>
          <button data-uuid="{{task.uuid}}" data-status="{{task.status}}" class="task-rem" {{action "removeOldTask" task.uuid }} >X</button>
        </article>
      {{/each}}
      {{outlet}}
    </div>
    <div class="summery">
      {{summery-data}}
    </div>
  </div>
</div>
